@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  details > summary {
    list-style-type: "+";
  }

  details[open] > summary {
    list-style-type: "-";
  }

  details {
    border-bottom: 2px solid white;
    border-radius: 0.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
  }

    details[open] > summary > span{
        color: #DFFC6E;
    }

    /* BURGER */
      .navbar {
        top: 0;
        right: -1600px;
        transition: right 0.8s cubic-bezier(1, 0, 0, 1);
        z-index: 10;
      }
      
      .change {
        right: 0;
      }
      
      .line {
        width: 70%;
        height: 3px;
        background-color: white;
        transition: all 0.8s;
        margin: auto;
      }

      .line-other{
        width: 100%;
        height: 3px;
        background-color: white;
        transition: all 0.8s;
      }
      
      .change .line-1 {
        transform: rotate(-405deg) translate(-12px, 6px);
      }
      
      .change .line-2 {
        opacity: 0;
      }
      
      .change .line-3 {
        transform: rotate(405deg) translate(-12px, -6px);
      }
      
      .nav-link::before,
      .nav-link::after {
        position: absolute;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.5s;
      }
      
      .nav-link::after {
        bottom: 0;
        transform-origin: right;
      }
      
      .nav-link::before {
        top: 0;
        transform-origin: left;
      }
      
      .nav-link:hover::before,
      .nav-link:hover::after {
        transform: scaleX(1);
      }

      .title{
        font-family: antique-olive, sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      @supports (-webkit-text-stroke: 2px white) {
        .title{
            -webkit-text-stroke: 2px white;
            -webkit-text-fill-color: rgba(220, 223, 224, 0) ;
        }
              } 
   
  details[open] > summary {
    margin-bottom: 0.5rem;
  }

  /* BURGER */
  .navbar {
    top: 0;
    right: -1600px;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    z-index: 10;
  }

  .change {
    right: 0;
  }

  .line {
    width: 70%;
    height: 3px;
    background-color: white;
    transition: all 0.8s;
    margin: auto;
  }

  .line-other {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.8s;
  }

  .change .line-1 {
    transform: rotate(-405deg) translate(-12px, 6px);
  }

  .change .line-2 {
    opacity: 0;
  }

  .change .line-3 {
    transform: rotate(405deg) translate(-12px, -6px);
  }

  .nav-link::before,
  .nav-link::after {
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
  }

  .nav-link::after {
    bottom: 0;
    transform-origin: right;
  }

  .nav-link::before {
    top: 0;
    transform-origin: left;
  }

  .nav-link:hover::before,
  .nav-link:hover::after {
    transform: scaleX(1);
  }

  @supports (-webkit-text-stroke: 2px white) {
    .title {
      -webkit-text-stroke: 2px white;
      -webkit-text-fill-color: rgba(220, 223, 224, 0);
    }
  }
}
details[open] > summary {
  margin-bottom: 0.5rem;
}

details[open] > summary > span {
  color: #dffc6e;
}
